
.coin-container{
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-search {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}